*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}

header{
    font-family: 'Open-Sans', Arial, Helvetica, sans-serif;
}


.navbar{
    font-size: 16px;
    background-color: #000000;
    padding-bottom: 15px;
    padding-bottom: 20px;
}

.main-nav{
    list-style-type: none;
    display: none;
}

.logo-company,
.nav-links{
    text-decoration: none;
    color: #09F755;
}

.main-nav li{
    text-align: center;
    margin: 30px auto;
}

.logo-company{
    display: inline-block;
    margin-top: 20px;
    margin-left: 70px;
}

.hamburger-icon{
    position: absolute;
    right: 20px;
    top: 15px;
    cursor: pointer;
    color: #09F755;
    font-size: 24px;
}

.active{
    display: block;
}

.jumbotron{
    display: flex;
    flex-direction: row;
    color: #09F755;
    background-color: #000000;
    padding-bottom: 10px;
}

.green-color{
    color:#09F755;
}

.white-color{
    color: #feffff;
}

.gray-color{
    color: #797575;
}

.margin-content{
    margin-bottom: 25px;
}

.container-column{
    flex-basis: 55%;
    display: flex;
    flex-direction: column;
    height: 650px;
    padding-left: 100px;
    padding-top: 100px;

    /*background-color: tomato;*/
}

.column-content{
    flex-basis: 35%;
    align-items: center;
    padding-top: 15%;
    padding-right: 30%;

    /*background-color: violet;*/
}

.column-button{
    flex-basis: 35%;
    height: 100px;
    
    /*background-color: aqua;*/
}

.image-jumbotron{
    flex-basis: 65%;
}

.jumbotron .column-content p{
    margin-left: 70px;
}

.title-header{
    font-size: 2.8em;
    font-weight: bold;
}

.font-tipis{
    font-size: 1.3em;
    font-weight: normal;
    margin-bottom: 5px;
}

.button{
    background-color: #09F755;
    color: #000000;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    border: none;
    border-radius: 50px;
    padding: 16px 50px;
    margin-top: 20px;
    margin-left: 70px;
    transition-duration: 0.5s;
}

.button:hover{
    border: 1px solid #feffff;
    background-color: #000000;
    color: #feffff;
}

.img-header{
    width: 90%;
    margin-left: 30px;
}

.about-container{
    display: flex;
    flex-direction: column;
    background-color: #000000;
    height: 600px;
    padding: 50px 200px;
    text-align: center;
}

.about-container h1{
    font-size: 1.3em;
    color: #000000;
}

.about-container p{
    padding-bottom: 50px;
    font-size: 1.4em;
}

.title-button{
    background-color: #09F755;  
    margin: 30px 400px;
    padding: 10px 10px;
    display: block;
    text-align: center;
    border-radius: 50px;
    color: #000000;
}

.portofolio-section{
    display: flex;
    flex-direction: column;
    background-color: #000000;
    height: 1150px;
    padding: 0px 150px 200px 150px;
}

.portofolio-section-title{
    flex-basis: 5%;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}

.pst-text{
    flex-basis: 40%;
    font-size: 0.75em;
    color: #797575;
    letter-spacing: 0.5em;
    padding-bottom: 20px;
}

.pst-headline{
    flex-basis: 60%;
    font-size: 2em;
    color: #feffff;
}

.portofolio-section-main{
    flex-basis: 95%;
    display: flex;
    flex-direction: column;
}

.psm-column{
    flex-basis: 50%;
    padding: 20px 0px;
    display: flex;
    flex-direction: row;
}

.psm-box-1,
.psm-box-2{
    flex-basis: 30%;
    margin: 0px 20px;
    display: flex;
    flex-direction: column;
    color: #feffff;
}

.psm-box-1:nth-child(1){
    background-color: #fad0c4;
    background-image: linear-gradient(315deg, #fad0c4 0%, #f1a7f1 74%);
}
.psm-box-1:nth-child(2){
    background-color: #abe9cd;
    background-image: linear-gradient(315deg, #abe9cd 0%, #3eadcf 74%);
}

.psm-box-1:nth-child(3){
    background-color: #f8ceec;
    background-image: linear-gradient(315deg, #f8ceec 0%, #a88beb 74%);
}

.psm-box-2:nth-child(1){
    background-color: #d5adc8;
    background-image: linear-gradient(315deg, #d5adc8 0%, #ff8489 74%);
}

.psm-box-2:nth-child(2){
    background-color: #fce043;
    background-image: linear-gradient(315deg, #fce043 0%, #fb7ba2 74%);
}

.psm-box-2:nth-child(3){
    background-color: #f39f86;
    background-image: linear-gradient(315deg, #f39f86 0%, #f9d976 74%);
}

.psm-box:hover{
    box-shadow: 10px 10px #feffff;
}

.psm-top{
    flex-basis: 40%;
    text-align: right;
    padding-top: 20px;
    padding-right: 20px;
}

.psm-middle{
    flex-basis: 45%;
    text-align: left;
    color: #000000;
    padding: 0px 30px 0px 70px;
    font-size: 1.5em;
}

.psm-bottom{
    flex-basis: 15%;
    text-align: center;
    color: #000000;
    letter-spacing: 0.2em;
    font-weight: bold;
    font-size: 0.6em;
}

.contact-section{
    display: flex;
    flex-direction: column;
    height: 600px;
    background-color: #000000;
    padding: 0px 150px;
}

.contact-section-title{
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
}

.cst-heading{
    flex-basis: 40%;
    color: #797575;
}

.cst-heading p{
    font-size: 1em;
    letter-spacing: 0.5em;
}

.cst-text{
    flex-basis: 60%;
    color: #feffff;
}

.cst-text p,
.csmb-text p{
    font-size: 2em;
    font-weight: bold;
}

.contact-section-main{
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
}

.csm-column{
    flex-basis: 50%;
    display: flex;
    flex-direction: row;
    padding: 10px 0px;
}

.csm-box{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
}

.csm-box:nth-child(2){
    margin-left: 100px;
}

.csmb-heading{
    flex-basis: 20%;
    color: #797575;
}

.csmb-text{
    flex-basis: 40%;
    transition: 0.2ms;
}

.csmb-text a{
    text-decoration: none;
    color: #feffff;
}


.csmb-text a:hover{
    color: #09F755;
}

.csmb-heading p{
    font-size: 0.75em;
    color: #797575;
    letter-spacing: 0.5em;
}


.footer{
    flex-basis: 10%;
    background-color: #000000;
    text-align: center;
}

.footer p{
    font-size: 0.6em;
    letter-spacing: 0.25em;
    font-weight:lighter;
    color: #797575;
}

@media screen and (min-width: 768px){
    .navbar{
        display: flex;
        justify-content: space-between;
        padding-bottom: 0px;
        height: 70px;
        align-items: center;
    }

    .main-nav{
        display: flex;
        margin-right: 30px;
        justify-content: flex-end;
    }

    .main-nav li{
        margin: 0;
    }

    .nav-links{
        margin-left: 40px;
    }

    .logo-company{
        margin-top: 0;
    }

    .hamburger-icon{
        display: none;
    }
}

@media screen and (max-width: 768px){
    .jumbotron{
        flex-direction: column;
    }

    .column-content{
        flex-basis: 40%;
        padding-top: 5%;
    }

    .image-jumbotron{
        width: fit-content;
    }

    .container-column{
        padding-left: 20px;
        padding-top: 30px;
    }

    .image-jumbotron{
        text-align: center;
    }

    .about-container{
        flex-direction: column;
        margin-top: 0px;
        padding: 30px 50px;
        height: 500px;
    }

    .title-button{
        margin: 20px 50px;
    }

    .about-container p{
        font-size: 0.75em;
    }

    .portofolio-section{
        height: 2550px;
        padding: 0px 50px 30px 50px;
    }
    
    .psm-column{
        flex-direction: column;
    }

    .psm-box-2,
    .psm-box-1{
        margin: 20px 0px 20px 0px;
    }

    .contact-section{
        padding: 0px 40px;
    }

    .csm-column{
        flex-direction: column;
    }

    .csm-box:nth-child(2){
        margin-left: 0px;
    }

    .csmb-text p{
        font-size: 1.5em;
        font-weight: bold;
    }
}